#ignore tifs and xmls except tiles
*.tif
*.xml
*.pt #ignore models

!milton/
!milton/tiles/
!milton/tiles/*/
!milton/tiles/*/uavsar/
!milton/tiles/*/masks/
!milton/tiles/*/uavsar/*.tif
!milton/tiles/*/masks/*.tif