*.o
e~*.o
work-obj08.cf
tb_conv3x3_dot
tb_conv3x3_dot_pipelined
tb_stream_conv3x3_cell
tb_stream_conv3x3_3chan_cell
tb_stream_conv3x3_3chan_realweights
tb_stream_conv3x3_3chan_kernels0_to3
tb_stream_conv3x3_3chan_4out_cell
tb_stream_conv3x3_3chan_8out_cell
tb_stream_conv3x3_3chan_8out_cell_dsp
tb_stream_conv3x3_3chan_16out_cell_dsp
tb_stream_conv3x3_3chan_24out_cell_dsp
tb_stream_conv3x3_3chan_32out_cell_dsp
tb_stream_conv3x3_3chan_kernel0_bn_relu
tb_stream_conv3x3_3chan_kernel0_bn_relu_pipelined
tb_stream_conv3x3_3chan_kernel2_bn_relu_pipelined
tb_conv3x3_dot_time_mux
tb_conv3x3_3chan_8out_time_mux
tb_stream_conv3x3_3chan_8out_time_mux
tb_window3x3_stream
ghdl_build_artifacts_backup/
*.dcp
vivado*.jou
vivado*.log
